html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
}


.content {
  flex: 1 0 auto;
}

header {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #3F51B5;
}

  header > nav {
    display: flex;
    width: 100%;
  }

    header > nav > a {
      color: white;
      font-size: 1.5em;
      margin-right: 1em;
      text-decoration: none;
    }

      header > nav > a:last-child {
        margin-left: auto;
      }

footer {
  background-color: #f2f2f2;
  padding: 1em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-size: 0.75em;
}

.maincontent {
  /* margin-left: 15%; */
  /* margin-right: 20%; */
  /* width: 85%; */
  height: 100%;
}

#notes_container {
  width: 100%;
  height: 85%;
}

#sidebar {
  float: left;
  width: 15%;
  height: 100%;
  margin: 0;
  background-color: rgb(147, 221, 255);
}

#sidebar > nav {
  height: 100%;
}

.sidebaroption {
  width: 100%;
  font-size: 14pt;
  padding: 1em;
}

  .sidebaroption > a {
    color: #3F51B5;
    text-decoration: none;
  }


/* Validation error message */
span.field-validation-error {
  color: red;
}