
@{
  ViewData["Title"] = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Kanban</h1>
<p>
  <h3>Introduction</h3>
<p>
  A <strong>Kanban board</strong> is a work and workflow visualization tool that enables you to
  <mark>
    optimize the flow
    of your work.
  </mark> Physical Kanban boards, like the one pictured below, typically use sticky
  notes on a whiteboard to communicate status, progress, and issues. Online Kanban boards draw upon
  the whiteboard metaphor in a software setting. The Kanban technique emerged in the late 1940s as
  Toyota’s re-imagined approach to manufacturing and engineering. Line-workers displayed colored
  Kanbans – actual cards – to notify their downstream counterparts that demand existed for parts and
  assembly work. (Kanban is the Japanese word for “visual signal” or “card.”) The system’s highly
  visual nature allowed teams to communicate more easily on what work needed to be done and when. It
  also standardized cues and refined processes, which helped to reduce waste and maximize value. The
  application of Kanban to knowledge work, influenced not only by the Toyota Production System but
  also by Lean systems thinking, began as early as 2005. Kanban’s core principles are the same in
  industries like software development and human resource management as they are in manufacturing:

</p>
<ul>
  <li><em>Visualize your work</em></li>
  <li><em>Limit your work in process</em></li>
  <li><em>Focus on flow</em></li>
  <li><em>Practice continuous improvement</em></li>
</ul>
<h3>Visualize Your Work and Workflow </h3>
<p>
  In manufacturing, the process for completing work is visible in the structure of the production line.
  But in knowledge work, the process is often opaque. Mapping out the process steps on a Kanban board
  and using Kanban cards to represent work provides <mark>
    visibility into the process and gives
    insight into many aspects of the work
  </mark>, including how the work flows. Since every team has
  its own process for completing work, Kanban boards give you the freedom to <mark>
    map your own
    workflow
  </mark>. Simple processes are laid out as vertical lanes on the board, whereas more
  complex processes typically combine vertical and horizontal lanes. Mapping the workflow that’s
  unique to your team makes your process transparent and helps the entire team easily see the status
  of its work in process. The sample physical board and card example below give you an idea of how
  Kanban works. Each lane is labeled with a step in the team’s process (to do, plan, etc.). Kanban
  cards are then placed on the board in lanes that indicate the status of the work. When customized to
  reflect your team’s process, the board – including the cards themselves – can communicate multiple
  details at a glance. In this example, card color demonstrates the type of work (e.g., purple for
  user story and lime for defect), but card color can also mean urgency or priority (e.g., red for
  expedite, green for normal, etc.). Visual indicators, like icons and user avatars, are placed on the
  card to show who is assigned to the work, the source of demand, class of service, or other important
  details that are relevant to your team’s work. You get to decide what your Kanban boards look like
  and how the cards represent your work. Visualizing your work and workflow carries many benefits,
  starting with how our brains process information. The human brain can intuit visual information
  60,000 times faster than text. Since Kanban boards create a “picture” of your work, the visual
  display makes it quicker and easier to understand status and progress. These visual details are
  displayed in a single place, minimizing the time spent tracking down progress reports or sitting in
  status update meetings. The Kanban board and cards represent a shared visual language that team
  members and stakeholders can use to quickly communicate high-value information in a way that is
  frictionless and transparent.
</p>
<p>
  <h3>Optimize the Flow of Your Work</h3>
<p>
  Visualizing work is only one of the benefits of the Kanban board and Kanban system. Kanban
  elevates
  physical and virtual whiteboards from visual to-do lists to powerful workflow optimization and
  collaboration tools by helping you limit your work in process, see how your work flows, and
  gather
  the metrics you need to measure and improve. The goal of a Kanban system is to limit the amount
  of
  work in process so the work flowing through the system matches its capacity. In other words, a
  system can only handle so much traffic and still have that traffic move smoothly through the
  steps
  in the process. When the system becomes overloaded with work, everything slows down, and the
  smooth
  flow of work turns into a logjam. Stuck work is easy to spot on a Kanban board, because work
  piles
  up in the affected lane(s) and gives you instant clarity into the work that needs attention.
  <br>
  <picture>
    <img id="kanban_board_example" src="../resource/kanban_board_example.jpg"
         alt="Kanban board example" width="450">
  </picture> <br>
  <aside>
    Visualizing workflow via online Kanban boards drives clarity, alignment, and focus on key
    objectives.
  </aside><br> To prevent the logjam effect, Kanban boards utilize one or more
  <a href="https://kanbanize.com/kanban-resources/getting-started/what-is-wip/">work-in-process (WIP) limits</a>. A WIP limit is a constraint that can be applied to parts of a
  workflow
  (e.g., an individual lane) or to an entire process. By using WIP limits, you can improve the
  flow of
  work through the process steps you’ve defined on your Kanban board, helping your team become
  more
  efficient. <br>
  <picture>
    <img id="ci_example" src="../resource/ci_example.jpg" width="450"
         alt="Example of continuous integration">
  </picture> <br>
  <aside>
    Gather insights across teams to identify areas of opportunity for continuous improvement
    and
    adapt workflow processes for improved productivity.
  </aside> Once your Kanban system is in
  place,
  it becomes the cornerstone for a culture of continuous improvement. Teams can measure their
  effectiveness by tracking flow, quality, throughput, lead times, and more. Experiments and
  analysis
  can change the system to improve the team’s effectiveness.
<p>
  <h3>Choosing a Kanban Board for Your Team: Physical or Virtual?</h3>
<p>
  Some teams prefer physical Kanban boards over virtual ones. A physical board uses sticky
  notes or
  index cards for the Kanban cards, and the board is drawn on a whiteboard or wall. This works
  well
  for teams that are 100% co-located, since every team member can individually interact with
  the board
  and not have to rely on onsite colleagues to update their cards by proxy. Some teams also
  prefer the
  tactile, low-tech feel of a physical board. Metrics, such as cycle time, can be measured
  manually.
  Overall, physical boards are an inexpensive way to start practicing Kanban for individuals
  or
  co-located teams whose work doesn’t intersect with other teams. For distributed teams, small
  teams
  that trade work back and forth, or enterprise organizations looking to scale Kanban across
  multiple
  teams, a virtual Kanban board is required. <details>
    <summary>Virtual Kanban systems provide:</summary>
    <ul>
      <li>Additional collaboration features, like email integration</li>
      <li>Real-time accessibility for remote workers and stakeholders</li>
      <li>A detailed audit trail that stores the history of every card</li>
      <li>
        More sophisticated reporting and metrics that take far less time to generate
        than
        physical board reporting
      </li>
      <li>
        The ability to integrate with other enterprise systems, like project portfolio
        management or HelpDesk platforms, to eliminate duplicate data entry
      </li>
    </ul>
  </details> <br> A good rule of thumb for enterprise teams is to consider a virtual Kanban
  tool with
  scalability and security features for your pilot program. When it’s time to expand, you
  won’t need
  to switch tools, which can delay productivity and cost valuable time and resources. Whether
  physical
  or virtual, Kanban boards make your process transparent, give you at-a-glance visibility of
  the
  status of your work in progress, and help you optimize your flow of work for improved
  effectiveness.
